<mat-toolbar>
  <h2>{{ game.name }}</h2>
  <span style="flex: 1 1 auto;" ></span>
  <button mat-icon-button>
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
<div class="mx-2">
  <h3>Spieler</h3>
  <div fxLayout="row" fxLayoutAlign="space-evenly">
    <div *ngFor="let player of this.game.players">
        {{ player.username }}
      </div>
  </div>
  
  <div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<button color="primary" class="fab-fix-position" mat-fab (click)="onAddRoundDialog()">
    <mat-icon>add</mat-icon>
</button>
