<div @item class="m1">
    <mat-toolbar color="primary" class="rt1">Spiel erstellen</mat-toolbar>
    <mat-card class="rt0">
        <mat-form-field appearance="outline">
            <input matInput type="text">
            <mat-label>Name</mat-label>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput disabled [value]="" type="text">
            <mat-label>Ersteller</mat-label>
        </mat-form-field>
        <button mat-raised-button color="primary">Erstellen</button>
    </mat-card>
</div>